venv/
__pycache__/
*.pyc
.env

data/03_cleaned_audio/
data/01_raw_noisy/

data/02_enrollment/
data/04_isolated_audio/

models/ecapa_tdnn_weights/
models/deepfilternet_weights/
models/spex_plus_weights/
models/kwt1_weights/

*.pt
*.ckpt
*.wav